.window-commands button
{
    width:2.8rem;
    height:1.8rem;
    border-radius:0;
    border:0;
    background-color:transparent;
}

    .window-commands button:hover {
        background-color: #ffffff30;
    }

    .window-commands button:active {
        background-color: #ffffff50;
    }

    .window-commands button svg {
        height: 50%;
        margin-top:0.2rem;
    }